body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.tennisCourt {
  width: 1000px;
  height: 500px;
  border: 1px solid white;
  background-color: rgb(2, 165, 2);
}
.tennisBall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 240px;
  left: 950px;
}

.playerOneTennisRacket {
  width: 20px;
  height: 125px;
  position: absolute;
  left: 470px;
  top: 187.5px;
  background-color: white;
  border-radius: 5px;
}

.playerTwoTennisRacket {
  width: 20px;
  height: 125px;
  position: absolute;
  right: 470px;
  top: 187.5px;
  background-color: white;
  border-radius: 5px;
}

.playerOneScore {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 20px;
  right: 200px;
}
.playerTwoScore {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 20px;
  left: 200px;
}
